:root {
 
  --color-bg: hsl(217, 61%, 90%);
 --color-bg-card: hsl(200, 60%, 99%);
 --color-text: hsl(227, 75%, 14%);
  --color-para-text: hsl(226, 11%, 37%); 
 
--color-switch-bg: hsl(0, 0%, 93%);


--color-focus: hsl(3, 86%, 64%);
--color-hover: hsl(3, 71%, 56%);
--color-active: hsl(3, 77%, 44%);

  --gradient-link: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
  --radius:0.75rem;
}

.darkmode {
  --color-bg: hsl(227, 75%, 14%);
   --color-bg-card: hsl(225, 23%, 24%);
     --color-text: hsl(0, 0%, 78%); 
 --color-para-text:  hsl(0, 0%, 93%);
 --color-switch-bg:hsl(226, 11%, 37%); 
}
*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  margin: 0;
 background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
 font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: var(--color-para-text);
  line-height: 1.5;
  font-size: var(--fs-1);
  padding: 0.5rem 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
:focus {
  outline: 0px solid var(--color-red-400);
  
}






