:root {
  --color-blue-900: hsl(227, 75%, 14%);
  --color-blue-800: hsl(226, 25%, 17%);
  --color-blue-700: hsl(225, 23%, 24%);
  --color-blue-600: hsl(226, 11%, 37%);
  --color-blue-300: hsl(0, 0%, 78%);
  --color-blue-200: hsl(217, 61%, 90%);
--color-blue-100: hsl(0, 0%, 93%);
--color-blue-0: hsl(200, 60%, 99%);

--color-red-400: hsl(3, 86%, 64%);
--color-red-500: hsl(3, 71%, 56%);
--color-red-700: hsl(3, 77%, 44%);

  --gradient-link: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
  --radius:0.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  margin: 0;
 background-color: var(--color-blue-200);
  color: var(--color-blue-900);
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
 font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: var(--color-blue-600);
  line-height: 1.5;
  font-size: var(--fs-1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
:focus {
  outline: 2px solid var(--color-red-400);
  
}






