.remove {
    border: 1px solid #e5e7eb;
    background: #fff;
    border-radius: 20px;
    padding: 6px 14px;
}

.switch {
    width: 36px;
    height: 20px;
    display: grid;
    align-items: center;
}

.switch input {
    display: none;
}

.switch span {
    width: 100%;
    height: 100%;
    background: #e5e7eb;
    border-radius: 20px;
    position: relative;
}

.switch span::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .3s;
}

.switch input:checked + span {
  background: #22c55e;
}

.switch input:checked + span::before {
  transform: translateX(16px);
}