.remove {
    border: 1px solid var(--color-para-text);
    background: var(--color-bg-card);
    border-radius: 20px;
    padding: 6px 14px;
    color: var(--color-text);
}

.switch {
    width: 36px;
    height: 20px;
    display: grid;
    align-items: center;
}

.switch input {
    display: none;
}

.switch span {
    width: 100%;
    height: 100%;
    background:var(--color-para-text);
    border-radius: 20px;
    position: relative;
}

.switch span::before {
    content: "";
    width: 16px;
    height: 16px;
    background: var(--color-bg-card);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .3s;
}

.switch input:checked + span {
  background: var(--color-active);
}

.switch input:checked + span::before {
  transform: translateX(16px);
}


