.card{
       display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem;
        
}

img.card__icon {
    width: 60px;
    align-self: flex-start;
}
.card__content h3 {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
.card__action{
       display: grid;
    grid-template-columns: 5rem 1fr;
    align-items: center;
}

.button {
    justify-self: start;
}

.check {
    justify-self: end;
}