.header {
   padding-block: 1rem;
}






.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo{
  width: 11.188rem;
}



.nav .theme-toggle-img{
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}